@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

$background: #212121;
$medium-background:#131313;
$light-background: #292929;

body{
    background-color: $background;
}


#nav-top{
    height: 60px;
    ;
}

#adv-card{
    border-radius: 5px;
    background: linear-gradient(195deg, rgba(32,32,32,1) 10%, rgba(0,0,0,1) 94%);

    img{
        width: 180px;
        height: 180px;
    }

    h2{
        font-size: 3.5em;
    }

    p{
        font-size: 0.75em;
    }

    button{
        border-radius: 30px;
        padding-inline: 25px;
    }
}

.hide-adv{
    height: fit-content;
    border-radius: 50px;
    font-size: 0.6em;
}



#center-page{
    height: 100vh;
}

#player-block{
    background-color: $background;
    border-top: 1px solid $light-background;

    .bi-volume-down{
        font-size: 1.6em;
    }
    input{
        width: 60%;
        height: 5px;
    }
}

.raccolta{
    background-color: $light-background;
}

.navigation-button{
    background-color: $medium-background;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.card-mix{
    width: 100px;
    height: 100px;
    background-color: aqua;
}




.raccolta {
    flex: 0 0 calc(33.33% - 10px); 
    margin-right: 10px; 
}
