@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
body {
  background-color: #212121;
  box-sizing: border-box;
}

#center-page {
  height: 100vh;
}

#player-block {
  background-color: #212121;
  border-top: 1px solid #292929;
}
#player-block .bi-volume-down {
  font-size: 1.6em;
}
#player-block input {
  width: 60%;
  height: 5px;
}

.raccolta {
  background-color: #292929;
}

.navigation-button {
  background-color: #131313;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}


