$success: #1ED760;
$secondary: #b3b3b3;
$dark: #000;
$background: #121212;
$medium-background:#131313;
$mid-background:#272727;
$light-background: #292929;
$dark-background: #121212;
$yellow-background: #c7ab46;
$gray-color: #c1c2c5;
$green-button: #1ed760;